body {
  box-sizing: border-box;
  font-family: 'Roboto','Segoe UI', sans-serif;
  font-weight: 400;
}

main {
  border: 1px solid #e0e0e0;
}

tr {
  border: 1px solid blue;
}

ul.taskList {
  margin: 0 0 0 0;
  padding: 0;
}

li.task {
  display: grid;
  gap: 0.5em;
  margin: 0.25em;
  padding: 0.5em;
  grid-template-columns: auto 1fr auto;
  justify-content: left;
  list-style: none;
  border: 1px solid #a0a0a0;
  border-radius: .125em;
  background-color: white;
  transition: background-color 0.5s ease;
}

li.task:hover {
  background-color: #7777aa;
}